---
http_interactions:
- request:
    method: get
    uri: https://api.currentsapi.services/v1/latest-news?apiKey=ppvVKctrJQz1oZb-RzjjrHr4fm34daUJqV-X3ZITDNbumJgL&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","news":[{"id":"902e3085-f885-4194-95c0-e453d56d9ace","title":"Durian
        export value grows by RM74.8mil since 2016","description":"KUALA LUMPUR: In
        the five years since 2016, the value of durian exports abroad has grown by
        RM74.8 million or 107 per cent, said Deputy Agriculture and Food Industries
        Minister I Datuk Seri Ahmad Hamzah.","url":"https:\/\/www.thestar.com.my\/business\/business-news\/2021\/10\/12\/durian-export-value-grows-by-rm748mil-since-2016","author":"The
        Star Online","image":"https:\/\/apicms.thestar.com.my\/uploads\/images\/2021\/10\/12\/1328324.jpg","language":"en","category":["regional","kuala-lumpur"],"published":"2021-10-12
        16:16:00 +0000"},{"id":"1eacf55a-290c-40ab-ae9b-812aad07d321","title":"Opinion
        | Need a dose of humor in your day? Chat with Alexandra Petri.","description":"Opinions
        Live Chats Explore our columnists and live commentary\n\nRecent chats: What
        do Republicans hope to achieve by not raising the debt ceiling? Chat with
        Eugene Robinson. | What has a vole ever don...","url":"https:\/\/www.washingtonpost.com\/opinions\/2021\/10\/12\/alexandra-petri-ch[...]
