---
http_interactions:
- request:
    method: get
    uri: https://api.currentsapi.services/v1/latest-news?apiKey=ppvVKctrJQz1oZb-RzjjrHr4fm34daUJqV-X3ZITDNbumJgL&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","news":[{"id":"d794d425-9c83-44fc-aff9-3e607a629ee5","title":"Eva
        Longoria Is A Total Fashion Icon, And Here Are The Receipts","description":"Red
        carpet QUEEN.","url":"https:\/\/www.buzzfeed.com\/morgansloss1\/eva-longoria-red-carpet-looks","author":"[{\"@type\":\"Person\",\"name\":\"Morgan
        Sloss\",\"url\":\"https:\/\/www.buzzfeed.com\/morgansloss1\",\"jobTitle\":\"BuzzFeed
        Staff\"}]","image":"https:\/\/img.buzzfeed.com\/buzzfeed-static\/static\/2021-10\/11\/18\/enhanced\/7978e0daf9ee\/original-1129-1633977927-6.jpg?crop=1200:600;0,0%26downsize=1250:*","language":"en","category":["lifestyle"],"published":"2021-10-14
        22:16:03 +0000"},{"id":"5e2f06a9-f676-48f6-be14-1e5329a651cb","title":"47
        Ways To Upgrade Your Living Room That Don''t Require A Ton Of Work","description":"Time
        to make your living room, liveable.","url":"https:\/\/www.buzzfeed.com\/elenamgarcia\/ways-upgrade-your-living-room-not-a-ton-of-work","author":"[{\"@type\":\"Person\",\"name\":\"Elena
        Garcia\",\"url\":\"https:\/\/www.buzzfeed.com\/elenamgarcia\",\"jobTitle\":\"BuzzFeed
        Staff\"}]","ima[...]
