<h1 class="text-center">Devise</h1>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">User can sign up</li>
    <li class="list-group-item">User can sign in</li>
    <li class="list-group-item">User can logout</li>
    <li class="list-group-item">User can change password</li>
    <li class="list-group-item">User can delete their own account</li>
    <li class="list-group-item">Account gets locked after 10 retries and user can unlock</li>
    <li class="list-group-item">User can confirm their account and is required to within 24 hours</li>
    <li class="list-group-item">User can see how many logins they have made: <%= current_user.sign_in_count%></li>
    <li class="list-group-item">Admin can see index of users and all their attributes</li>
  </ul>
</div>