<h1 class="text-center">Devise & API & Table & Chart & Test</h1>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">User can sign up</li>
    <li class="list-group-item">User can sign in</li>
    <li class="list-group-item">User can logout</li>
    <li class="list-group-item">User can change password</li>
    <li class="list-group-item">User can delete their own account</li>
    <li class="list-group-item">Account gets locked after 10 retries and user can unlock</li>
    <li class="list-group-item">User can confirm their account and is required to within 24 hours</li>
    <li class="list-group-item">User can see how many logins they have made: <%= current_user.sign_in_count%></li> 
    <li class="list-group-item">Admin can see index of users and all their attributes</li>
    <li class="list-group-item">decide what you want to build</li>
    <li class="list-group-item">select a publicly accessible data source (typically json api)</li>
    <li class="list-group-item">persist that data to your postgres database</li>
    <li class="list-group-item">create ERD and attach to this story</li>
    <li class="list-group-item">user can filter the charts and table</li>
    <li class="list-group-item">user can see data table</li>
    <li class="list-group-item">user can see chart of the data</li>
    <li class="list-group-item">only logged in users can see the table and charts</li>
    <li class="list-group-item">write specs for worker classes</li>
    <li class="list-group-item">write specs for the service classes</li>
  </ul>
</div>