body{
  color:rgb(7, 30, 105)
}

.logged_email_color {
  color: #d63384;
}

 main {
  margin: 50px;
  font-size: larger;
 } 

.news_current_column_width{
  max-width:150px
}

.chart_section{
  margin: 4em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(212, 24, 65, 0.1);
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
  
/* Header */
.header {
  color:#fff;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.btn{
  margin-top: 2em;
  margin-bottom: 1em;
}
  
form {
  margin-top:20px;
}

/* Feature */
.feature {
  background-size: cover; 
  height: 380px;
  padding: 100px 0 0 0;
}

.feature p {
  font-size:18px; 
}

.nav-link a{
  text-decoration: none !important;
  color:rgb(74, 55, 160) !important;
}